.footer {
  margin-top: 25px;
  margin-bottom: 50px;
}

.footer__text {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 22px;
  margin-left: 50px;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
