.page {
  font-family: Inter, Helvetica, Sans-serif;
  background-color: black;
  color: white;
  font-weight: 500px;
}

.page__section {
  max-width: 880px;
  margin: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.page__content {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

-------------------------------------------------

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media screen and (min-width: 581px) {
  .a {
    background: gray;
  }
}

@media screen and (min-width: 880px) {
  .a {
    background: white;
  }
}
