.page {
    font-family: Inter, Arial, Helvetica, Sans-serif;
    background-color: black;
     color: white;
} 
    
    .page__section {
        max-width: 880px;
        margin: 100%;
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
    }
    
    .page__content {
      background-color:black;
      margin-left: 100px;
      margin-right: 100px;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      /* -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; */
    }

    @media screen and (max-width: 1100px) {
      .page_section {
      margin: 0 20px;
      max-width: calc(100% - 40px);
  }
  }